In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

from scipy.stats import spearmanr
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
%cd ..

/home/jan/misc/copenhagen-hack/optimal-ph/aux/model-playground

In [3]:
train_meta = pd.read_csv("../train.csv", index_col=0)
valid_meta = pd.read_csv("../valid.csv", index_col=0)
train_meta

,mean_growth_PH,sequence,representative,is7
99973,7.40,MEANHGMNNYIKLAFVFGITTMATSYADTVAPPTLLTAQKLPQLQQ...,True,False
84793,7.00,MEFFKKTALAALVMGFSGAALALPNITILATGGTIAGGGDSATKSN...,False,True
27864,6.50,MSPLGILRRHRVAALLGAALIISPVVVSFAQSANSTGVSKIVATTQ...,True,False
46228,7.80,MKKQYWYVIITYVAMQLSSLVGVPLLAHSGFINASNKDIAISIASG...,False,False
6028,7.00,MSKKKMAITLSAMLSATIIPSFTMDVHAEKKEETKNTKIELENGMT...,False,True
...,...,...,...,...
69002,7.00,MEIIMRNLCFLLTLVATLLLHGRLIAAALPQDEKLITGQLDNGLRY...,False,True
75674,7.00,MSKHPKLLVLALACLACAGRASAAPASDEVARLAQRCAPDVSPLTM...,False,True
50377,7.45,MSRAGSLMLVLGTALWLCGCSGMNSENKRVAPVAEKRPHTMSLHGV...,True,False
87875,7.00,MSAGRLNKKSLGIVMLLSVGLLLAGCSGSKSSDTGTYSGSVYTVKR...,False,True
79448,7.00,MSAGSPKFTVRRIAALSLVSLWLAGCSDTSNPPAPVSSVNGNAPAN...,False,True

In [9]:
correlations = pd.concat([pd.read_csv(f"data/correlationd{i}.csv", index_col=0) for i in range(0,9)], ignore_index=True)
correlations = correlations.dropna()
correlations["corr_abs"] = correlations.correlation.abs()
correlations = correlations.sort_values("corr_abs", ascending=False)

In [11]:
correlations[:30]

     seq_with_gap  correlation  corr_abs
769           L.L     0.108945  0.108945
736           K.A    -0.108507  0.108507
4334   E........L     0.101667  0.101667
102            EL     0.099779  0.099779
763           L.E     0.098699  0.098699
538           A.K    -0.092308  0.092308
4466   L........E     0.089236  0.089236
2662      A.....T    -0.088804  0.088804
1067         A..K    -0.088720  0.088720
2879      L.....E     0.088161  0.088161
9              AK    -0.088023  0.088023
2218       E....L     0.087306  0.087306
4241   A........K    -0.085593  0.085593
1821        L...E     0.085026  0.085026
234            LE     0.084489  0.084489
1596        A...K    -0.082457  0.082457
2747      E.....L     0.081884  0.081884
207            KA    -0.081613  0.081613
2350       L....E     0.081139  0.081139
240            LL     0.081090  0.081090
2125       A....K    -0.081050  0.081050
1689        E...L     0.079695  0.079695
399            TI    -0.079676  0.079676
3943    L.......L     0.079541  0.079541
1075         A..T    -0.079248  0.079248
3529     R......L     0.078616  0.078616
1827        L...L     0.078605  0.078605
2654      A.....K    -0.077777  0.077777
3045      T.....K    -0.077635  0.077635
929           T.K    -0.077341  0.077341